#chatCon {
    width: 400px;

    position: fixed;

    bottom: 1%;

    right: 2%;
}

#chatCon .chat-box {
    /* display: none; */

    width: 100%;

    background-color: white;

    border: solid 2px #0a2946;
    margin-bottom: 15px;
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white),
        linear-gradient(180deg, rgb(7, 63, 115) 0%, rgb(10, 41, 70) 86.7%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

amplify-chatbot {
    --width: 100%;
    --icon-fill-color: grey !important;
    --user-background-color: rgb(10, 41, 70);
    --header-size: 10;
}

#chatCon .pop {
    width: 13%;

    height: 25%;

    cursor: pointer;

    float: right;
}

#chatCon .pop p {
    text-align: right;
}

#chatCon .pop img {
    border-radius: 50%;

    width: 100%;
}
.icon amplify-icon {
    --icon-fill-color: grey !important;
    --height: var(--icon-height);
}
.hydrated {
    font-size: medium !important;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Arial",
        "Segoe UI", "Helvetica Neue", sans-serif !important;
}

.button-wrapper {
    position: relative;
}

.button {
    display: block;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    width: 100%;
}

.button-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: linear-gradient(
        90deg,
        rgba(10, 41, 70, 1) 0%,
        rgba(51, 97, 139, 1) 32%,
        rgba(23, 23, 227, 1) 59%,
        rgba(172, 216, 228, 1) 100%
    );
    background-size: 600% 600%;
    border-radius: 50px;
    animation: AnimateBorder 4s ease infinite;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite;
    z-index: -1;
    transform: translate(-3px, -3px);
    transition: filter 1s ease-in;
}

.button-wrapper:hover .button-bg {
    filter: blur(10px);
    transition: filter 0.4s ease-in;
}

@-webkit-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes AnimateBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter" Arial;
    background-color: #fff0;
}
#amplify .header {
    background-color: black !important;
}
.chatbox-header {
    padding-right: 8px;
    padding-top: 2px;
    padding-left: 2%;
    width: 99%;
    display: flex;
    border-radius: 16px 16px 0 0;
    background: linear-gradient(
        180deg,
        rgb(7, 63, 115) 0%,
        rgb(10, 41, 70) 86.7%
    );
    position: absolute;
    height: 50px;
}
#amplify .icon-button {
    --icon-fill: blue !important;
}
.chatbox-header img {
    height: 50px;
}
.chatbox-header h5 {
    padding-top: 13px;
    width: 290px;
    /* color: #e40134; */
    color: white;
}
.header-icon {
    color: white;
    margin-left: 10px;
}
.modal-dialog {
    max-width: 60% !important;
}
