@tailwind base;
@tailwind components;
@tailwind utilities;

.bot-command {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    color: rgba(28, 35, 44, 0.8);
    width: fit-content;
    text-align: left;
    line-height: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    border: 1px solid #ddd;
}

.user-command {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    color: #fff;
    width: fit-content;
    text-align: right;
    line-height: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #3282b8;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-break: break-word;
    border: 1px solid #3282b8;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 95%;
    position: fixed;
    right: 2%;
}

.panel {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #fff;
    border-radius: 10px;
    width: 70%;
    height: 90%;
    position: relative;
    bottom: -150%;
    left: 15%;
    transition: bottom 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.open {
    bottom: -2.5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.intro-header {
    font-size: 10px;
    opacity: 0.7;
    margin: 1px 2px 1px 0px;
}

.response {
    text-align: right;
}

.iconButton {
    color: #fff;
    width: 8vw;
}

.logo {
    max-width: 100%;
    height: 45px;
    width: 45px;
}
.header {
    height: 12%;
    padding: 5px;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, #0a2946 0%, #0f4c75 50%, #3282b8 100%);
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0%;
    right: 0;
    justify-content: flex-end;
    width: 100%;
    height: 14%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.icon-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-input {
    color: black;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    height: 90%;
    align-self: center;
    justify-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

.text-input:focus {
    outline: none;
    border-color: #007bff;
}

.textarea-input {
    color: black;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    box-shadow: none;
    border-radius: 5px;
    background-color: #fff;
    border: none !important;
    resize: none;
}

.textarea-input:focus {
    outline: none;
    border-color: #007bff;
}

.divs-container {
    display: flex;
    flex-direction: column;
    max-height: 74%;
    overflow-y: auto;
    padding: 10px;
}

.pop {
    width: 8%;
    height: 8%;
    cursor: pointer;
    bottom: 2%;
    right: 0.5%;
    position: fixed;
    z-index: 999;
}

.pop img {
    border-radius: 50%;
    width: 100%;
}

.button-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    left: 22%;
    top: 22%;
}

.toggleButton {
    display: block;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.toggleButton-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: linear-gradient(
        90deg,
        rgba(10, 41, 70, 1) 0%,
        rgba(51, 97, 139, 1) 32%,
        white 60%,
        rgba(51, 97, 139, 1) 80%
    );
    background-size: 500% 500%;
    border-radius: 50px;
    animation: AnimateBorder 4s ease infinite;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite;
    z-index: -1;
    transform: translate(-3px, -3px);
    transition: filter 1s ease-in;
}

.toggleButton:checked + .button-wrapper .toggleButton-bg {
    filter: brightness(0.9);
}

.toggleButton:checked + .button-wrapper .toggleButton-bg:before {
    transform: translate(40px, -40px);
}

.toggleButton:checked + .button-wrapper .toggleButton-bg:after {
    transform: translate(-40px, 40px);
}

@keyframes AnimateBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 800px) {
    .pop {
        width: 12%;
        height: 12%;
    }
}

@media only screen and (max-width: 500px) {
    .pop {
        width: 20%;
        height: 20%;
    }
}

@media only screen and (max-height: 500px) {
    .pop {
        display: none;
    }
}

@media only screen and (max-height: 400px) {
    .input-container {
        display: none;
    }
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter" Arial;
    background-color: #fff0;
}
